<div class="container">
    <h1> <span style="color: #3366ff;">日本版Brigade CMS<span style="font-weight: bold;">
        </span>"ha4go" リリースノート</span></h1>
    <br>
    2016.04.03 β1 Release<br>
    <br>
    <h2><span style="color: #3366ff;">ha4goの目指すもの</span></h2>
    このCMSの目指すものは、課題を深く知る市民とITに詳しいエンジニアが共通の基盤で情報交換し、課題を深化しシビックテックを活用しながら解決にまで進めてい
    くことができるオンラインの場所を作ることにあります。<br>
    <br>
    これにより<br>
    <p>・地域課題の可視化により、市民の地域課題に対する理解と関心を広げる</p>
    <p>・地域課題をオンラインで議論できる場所の提供</p>
    <p>・課題解決に必要なヒト（市民やエンジニア・デザイナーなど）同士を繋ぐ</p>
    など、地域とシビックテックを繋ぎ、地域課題を解決に導くひとつの仕組みになることを目指しています。<br>
    <br>
    <br>
    <h2><span style="color: #3366ff;">使い方(β1)</span></h2>
    <br>
    ・ログイン<br>
    ha4goでは、広く一般の市民の方に参加いただくため、Facebookアカウントを利用します。<br>
    <br>
    ・プロフィール編集<br>
    自己紹介の他、課題解決のためのスキルを他の参加メンバーに明示するため、自分のもつスキルを登録することができます。<br>
    <br>
    ・課題の投稿<br>
    ログイン後、「課題を投稿する」から投稿してください。<br>
    <br>
    ・メンバーへの参加<br>
    すでに関心のある課題がある場合は各課題の詳細ページからメンバーに参加し、「フォローを書く」でコメントを登録することができます。<br>
    <br>
    <br>
    <h2><span style="color: #3366ff;">今後の予定</span></h2>
    <br>
    まず基本的なマッチング機能を実装し、β１としてプロトタイプをリリースしました。<br>
    直近の予定として、2016年7月頃にデザインを刷新する予定です。<br>
    <br>
</div>
