<div class="container">

    <h2 class="form-signin-heading">ログイン</h2>
    <button class="btn btn-lg btn-primary" type="submit">Facebookでログインする</button>

    <%= form_tag login_check_path, :method => :post do %>
        <h4 class="mt50">もしくはEメールアドレスでログイン</h4>
        <%= text_field :login, :email, :type => "email", :class => 'form-control mb10', :placeholder => 'Email Address' %>
        <%= text_field :login, :password, :type => 'password', :class => 'form-control', :placeholder => 'Password' %>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">ログイン</button>
    <% end %>
    <p class="mt20 text-right"><%= link_to('>>アカウントを持っていない方はこちら', signup_path) %></p>
</div>
