$main_theme_color: #F7931E;
$main_bg_color: #f3f3f3;
$title_bg_color: #333;
$title_font_color: #fff;
$contents_bg_color: #fff;
$button_color:  $main_theme_color;
$button_color2: #218BBF;
$font_color_on_button: #fff;
$font_color_link: #218BBF;
$font_color_content_title: $font_color_link;
$title_contents_separator_color: #e6e6e6;
