<p id="notice"><%= notice %></p>

<div class="container">
    <h2>課題一覧</h2>
    <% if authorized? %>
        <button type="button" class="btn btn-default btn-primary" aria-label="Left Align">
            <%= link_to '課題を投稿する', new_project_path %>
        </button>
    <% end %>
    <div class="panel-group">
        <% @projects.each do |project| %>
            <h3><%= link_to(project.subject, project_path(id: project.id)) %></h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <%= project.description %>
            </div>
        </div>
        <% end %>
        <button class="btn btn-default btn-small">
            <span class"glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
</div>
