<p id="notice"><%= notice %></p>

<div class="container">
    <h2><%= t('dic.list_project') %></h2>
    <% if authorized? %>
        <%= link_to t('dic.post_project_do'), new_project_path, class: "btn btn-default btn-primary" %>
    <% end %>
    <div class="panel-group">
        <% @projects.each do |project| %>
          <%= render 'shared/project', project: project %>
        <% end %>
    </div>
</div>
