@for $i from 5 through 100 {
  .mt#{$i} {
    margin-top:#{$i}px;
  }

  .mb#{$i} {
    margin-bottom:#{$i}px;
  }

  .ml#{$i} {
    margin-left:#{$i}px;
  }

  .mr#{$i} {
    margin-right:#{$i}px;
  }
}

.navbar__custom {
    .navbar__menu-button {
        float: right;
    }
}

.menu__right {
    display: none;
    background-color: #333;
    list-style: none;
    position: fixed;
    top: 0px;
}

.spacer-navbar {
    height: 50px;
}

.column__top {
    .jumbotron {
        background-image: image-url("img_kanazawa.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        .container {
            height: 200px;
        }
    }

    .caption {
        padding: 20px;
        background-color: rgba(0,0,0,0.6);
        border-radius: 5px;
        display: box;
        display: -webkit-box;
        display: -moz-box;
        color: #fff;
        word-wrap: keep-all;
    }

    .caption__text {
    }
}

.panel-group {
    margin-top: 20px;

    .panel {
        margin-bottom: 20px;
    }

    .panel-heading {
        padding: 10px;
        font-size: 26px;
    }
}

.input_text {
    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }
}