// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
    position: fixed;
    left: 50px;
    bottom: 100px;
    padding: 50px 20px;
    background-color: #fff;
    font-size: 22px;
    opacity: 1;
    animation: anime 1s ease 0 1 normal;
}

@keyframes anime {
100% {opacity: 0}
}
